{% extends 'MediPlannerApp/base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block cssLinks%}
<link rel="stylesheet" href="{% static 'MediPlannerApp/css/accion_paciente.css'%}">
{% endblock %}

{% block title %}Añadir novedad{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  <div class="form-group">
    <label for="paciente" class="txt_negrita">Paciente</label>
    {{ form.paciente|add_class:"form-control"}}
  </div>
  <div class="form-group">
    <label for="descripcion" class="txt_negrita">Descripción de la novedad</label>
    {{ form.descripcion|add_class:"form-control"}}
  </div>
  <div>
    <button type="submit" class="btn">Aceptar</button>
    <a href="../" type="submit" class="text"><button type="submit" class="btn">Volver</button></a>
</div>
</form>

{% endblock %}