{% extends 'MediPlannerApp/base.html' %}
{% load static %}

{% block cssLinks%}
<link rel="stylesheet" href="{% static 'MediPlannerApp/css/paciente.css' %}">
{% endblock %}

{% block title %} {{paciente.nombres}} {{paciente.apellidos}} | Medi-Planner {% endblock %}

{% block content %}
<div class="post">
    <h1 class="titulo">{{paciente.nombres}} {{paciente.apellidos}}</h1>
    <div class="img"><img src="{% static 'MediPlannerApp/img/avatar.png' %}" alt=""></div>
    <h1 class="Sala">Sala {{paciente.habitacion}}</h1>
    <h2>Datos Personales</h2>
    <div class="info">
        <h4 class="text">Identificacion: {{paciente.cedula}}</h4>
        <h4 class="text"></h4>Genero: {{paciente.sexo}}</h4>
        <h4 class="text"></h4>Fecha de alta: {{paciente.fecha_salida}}</h4>
        <h4 class="text"></h4>Enfermera/s a cargo: {% for enf in paciente.enfermeras.all %}{{enf.nombres}} {{enf.apellidos}}{% if not forloop.last %}, {% endif %}{% endfor %}</h4>
    </div>
</div>

<h2 class="table-title">Medicinas de suministro</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dosis a suministrar</th>
            <th>Hora de suministración</th>
        </tr>
    </thead>
    <tbody>
        {% for medicamento in medicamentos %}
        <tr>
            <td data-label="Nombre">{% for medicina in medicamento.medicamento.all %}{{medicina.nombre}}{% endfor %}</td>
            <td data-label="Dosis">{{medicamento.dosis}}</td>
            <td data-label="Hora">{{medicamento.hora}}</td>
            <td>
                <form method="POST" action="eliminarMedicacion/{{medicamento.id}}">
                    {% csrf_token %}
                <a style="margin-right: 30px;" href="editarMedicacion/{{medicamento.id}}">Editar</a>
                <button class="btn btn-danger" onclick="return eliminarMedicacion();" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor%}
    </tbody>
</table>

<a class="añadir" href="{% url 'añadirMedicacion' %}"><button type="button" class="btn">Añadir medicamento</button></a>

<h2>Novedades</h2>
<table class="table">
    <thead>
        <tr>
            <th>Fecha de creación</th>
            <th>Novedad</th>
        </tr>
    </thead>
    <tbody>
        {% for novedad in novedades %}
        <tr>
            <td data-label="Fecha">{{novedad.fecha}}</td>
            <td data-label="Novedad">{{novedad.descripcion}}</td>
            <td>
                <form method="POST" action="eliminarNovedad/{{novedad.id}}">
                    {% csrf_token %}
                <a style="margin-right: 30px;" href="editarNovedad/{{novedad.id}}">Editar</a>
                <button class="btn btn-danger" onclick="return eliminarNovedad();" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor%}
    </tbody>
</table>
<a class="añadir" href="{% url 'añadirNovedad' %}"><button type="button" class="btn">Añadir novedad</button></a>

<script type="text/javascript">
    function eliminarMedicacion() {
      var x = confirm("¿Estás seguro de que desea eliminar este registro?");
      if (x)
        return true;
      else
        return false;
    }
    function eliminarNovedad() {
      var x = confirm("¿Estás seguro de que desea eliminar este registro?");
      if (x)
        return true;
      else
        return false;
    }    
</script>
{% endblock %}