<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../">
    <script src="https://kit.fontawesome.com/d4662f63fb.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <section class="icons">
        <img src="../img/nurse-icon.svg" alt="">
        <img src="../img/patient.svg" alt="">
        <img src="../img/medicament.svg" alt="">
    </section>

</body>

</html>