{% extends 'MediPlannerApp/base.html'%}
{% load static %}

{% block cssLinks%}
<link rel="stylesheet" href="{% static 'MediPlannerApp/css/table.css'%}">
{% endblock %}

{% block title %}Enfermeras | MediPlanner{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>Turno</th>
            <th>Telefono</th>
            <th>None</th>
        </tr>
    </thead>
    <tbody>
            {% for enfermera in enfermeras %}
            <td data-label="Nombre">{{enfermera.nombres}} {{enfermera.apellidos}}</td>
            <td data-label="Cedula">{{enfemera.cedula}}</td>
            <td data-label="Turno">{% for turnos in enfermera.turno.all %}{{turnos.ingreso}}-{{turnos.salida}}{% if not forloop.last %} | {% endif %}{% endfor %}</td>
            <td data-label="Telefono">{{enfermera.telefono}}</td>
            <td data-label="None"><img src="{% static 'MediPlannerApp/img/nurse-table.svg' %}" alt=""></td>
            {% endfor%}
        </tr>
    </tbody>
</table>

{% endblock %}