{% extends 'MediPlannerApp/base.html'%}
{% load static %}

{% block cssLinks%}
<link rel="stylesheet" href="{% static 'MediPlannerApp/css/nurse.css' %}">
{% endblock %}

{% block title %}Index{% endblock %}

{% block content %}
    <section class="icons">
        <a href="{% url 'enfermeras'%}"><img src="{% static 'MediPlannerApp/img/nurse-icon.svg' %}" alt=""></a>
        <a href="{% url 'pacientes'%}"><img src="{% static 'MediPlannerApp/img/patient.svg' %}" alt=""></a>
        <a href="{% url 'medicinas'%}"><img src="{% static 'MediPlannerApp/img/medicament.svg' %}" alt=""></a>
    </section>
{% endblock %}