{% extends 'MediPlannerApp/base.html'%}
{% load static %}

{% block cssLinks%}
<link rel="stylesheet" href="{% static 'MediPlannerApp/css/nurse.css' %}">
{% endblock %}

{% block title %}Index{% endblock %}

{% block content %}
    <section class="icons">
        <img src="{% static 'MediPlannerApp/img/nurse-icon.svg' %}" alt="">
        <img src="{% static 'MediPlannerApp/img/patient.svg' %}" alt="">
        <img src="{% static 'MediPlannerApp/img/medicament.svg' %}" alt="">
    </section>
{% endblock %}