<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d4662f63fb.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="login-container">
            <h2>Bienvenido a Medi-Planner</h2> 
            <form action="index.html"> 
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5>Usuario</h5>
                        <input placeholder="Usuario" type="text" class="input">
                    </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>

                    <div>
                        <h5>Contraseña</h5>
                        <input placeholder="Contraseña" type="password" class="input">
                    </div>
                </div>

                <input type="submit" class="btn" value="Login">

                <a href="">Olvidaste tu contraseña?</a>
            </form>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>