{% extends 'MediPlannerApp/base.html'%}
{% load static %}

{% block cssLinks%}
<link rel="stylesheet" href="{% static 'MediPlannerApp/css/style.css'%}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}

<body>

    <div class="container">
        <div class="login-container">
            <h2>Bienvenido a Medi-Planner</h2> 
            <form action="index.html"> 
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5>Usuario</h5>
                        <input placeholder="Usuario" type="text" class="input">
                    </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>

                    <div>
                        <h5>Contraseña</h5>
                        <input placeholder="Contraseña" type="password" class="input">
                    </div>
                </div>

                <input type="submit" class="btn" value="Login">

                <a href="">Olvidaste tu contraseña?</a>
            </form>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

{% endblock %}