<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="info.css">
    <script src="https://kit.fontawesome.com/d4662f63fb.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="post">
        <div class="img"><img src="img/namione.jpg" alt=""></div>
        <div class="info">
            <h1 class="titulo">Nombre Completo</h1>
            <div class="info-paciente">Identificacion: ------ <br> <br>
                Celular: -------- <br> <br>
                Edad: --
                <br> <br></div>
            <div class="link"><a href="#">Ver Medicamentos del paciente</a></div>
        </div>
    </div>
</body>

</html>