<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/paciente.css">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Medicamento</th>
                <th>Cantidad</th>
                <th>Invima</th>
                <th>Mg</th>
                <th>Descripcion</th>
                <th>Tipo Administracion</th>
                <th>Localizacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Medicamentos">Paracetamol</td>
                <td data-label="Cantidad">10 Tabletas</td>
                <td data-label="Invima">No se</td>
                <td data-label="Mg">5mg</td>
                <td data-label="Descripcion">Pa la tos</td>
                <td data-label="Tipo Administracion">Oral</td>
                <td data-label="Localizacion">Colsubsidio</td>
            </tr>
        </tbody>
    </table>
    <br> <br> <br> <br> <br> <br> <br> <br>
    <table class="table">
        <thead>
            <tr>
                <th>Medicamento</th>
                <th>Cantidad</th>
                <th>Invima</th>
                <th>Mg</th>
                <th>Descripcion</th>
                <th>Tipo Administracion</th>
                <th>Localizacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Medicamentos">Paracetamol</td>
                <td data-label="Cantidad">10 Tabletas</td>
                <td data-label="Invima">No se</td>
                <td data-label="Mg">5mg</td>
                <td data-label="Descripcion">Pa la tos</td>
                <td data-label="Tipo Administracion">Oral</td>
                <td data-label="Localizacion">Colsubsidio</td>
            </tr>
        </tbody>
    </table>

    <div class="post">
        <h1 class="titulo">Nombre Completo</h1>
        <div class="img"><img src="img/namione.jpg" alt=""></div>
        <h1 class="Sala">Sala X</h1>
        <h2>Datos Personales</h2>
        <div class="info">
            <h4>Identificacion:</h4>
            <h4>Celular:</h4>
            <h4>Genero:</h4>
            <h4>Edad:</h4>
            <h4>Direccion:</h4>
            <h4>Fecha de Nacimiento:</h4>
        </div>
    </div>
</body>
</html>