{% extends 'MediPlannerApp/base.html'%}
{% load static %}

{% block cssLinks%}
<link rel="stylesheet" href="{% static 'MediPlannerApp/css/table.css'%}">
{% endblock %}

{% block title %}Medicinas | MediPlanner{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Invima</th>
            <th>Descripción</th>
            <th>Via de administración</th>
        </tr>
    </thead>
    <tbody>
        {% for medicina in medicinas %}
        <tr>
            <td data-label="Nombre">{{medicina.nombre}}</td>
            <td data-label="Cantidad">{{medicina.cantidad}}</td>
            <td data-label="Invima">{{medicina.invima}}</td>
            <td data-label="Descripción">{{medicina.descripcion}}</td>
            <td data-label="Via_administracion">{{medicina.via_administracion}}</td>
            <td>
                <a style="margin-right: 30px;" href="{% url 'eliminarMedicina' medicina.id %}">Eliminar</a>
                <a style="margin-right: 30px;" href="{% url 'editarMedicina' medicina.id %}">Editar</a>
            </td>
        </tr>
        {% endfor%}
    </tbody>
</table>

<!-- <table class="table">
    <thead>
        <tr>
            <th>Medicamento</th>
            <th>Cantidad</th>
            <th>Invima</th>
            <th>Mg</th>
            <th>Descripcion</th>
            <th>Tipo Administracion</th>
            <th>Localizacion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Medicamentos">Paracetamol</td>
            <td data-label="Cantidad">10 Tabletas</td>
            <td data-label="Invima">No se</td>
            <td data-label="Mg">5mg</td>
            <td data-label="Descripcion">Pa la tos</td>
            <td data-label="Tipo Administracion">Oral</td>
            <td data-label="Localizacion">Colsubsidio</td>
        </tr>
    </tbody>
</table> -->

{% endblock %}