{% extends "MediPlannerApp/base.html" %}
{% load static %}

{% block cssLinks%}
{% endblock %}

{% block title %}Pacientes | MediPlanner{% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>Edad</th>
            <th>Ceular</th>
            <th>Genero</th>
            <th>None</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Nombre">T</td>
            <td data-label="Cedula">S</td>
            <td data-label="Edad">E</td>
            <td data-label="Celular">61</td>
            <td data-label="Genero"></td>
            <td data-label="None"><img src="/MediPlanner/MediPlannerApp/static/MediPlannerApp/img/patient.svg" alt=""></td>
        </tr>
    </tbody>
</table>

{% endblock %}