{% extends 'MediPlannerApp/base.html'%}
{% load static %}

{% block cssLinks%}
<link rel="stylesheet" href="{% static 'MediPlannerApp/css/table.css'%}">
{% endblock %}

{% block title %}Enfermeras | MediPlanner {% endblock %}

{% block content %}

<table class="table">
    {% if messages %}
    <ul class="messages list-group mb-3">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>Turno</th>
            <th>Telefono</th>
            <th>Opcion</th>
        </tr>
    </thead>
    <tbody>
        {% for enfermera in object_list %} 
        <tr>
            <td data-label="Nombre">{{enfermera.nombres}} {{enfermera.apellidos}}</td>
            <td data-label="Cedula">{{enfermera.cedula}}</td>
            <td data-label="Turno">{% for turnos in enfermera.turno.all %}{{turnos.ingreso}}-{{turnos.salida}}{% if not forloop.last %} | {% endif %}{% endfor %}</td>
            <td data-label="Telefono">{{enfermera.telefono}}</td>
            <!-- <td data-label="None"><img src="{% static 'MediPlannerApp/img/nurse-table.svg' %}" alt=""></td> -->
            <td data-label="Opcion">
                <form method="POST" action="eliminarEnfermera/{{enfermera.cedula}}">
                    {% csrf_token %}
                <a style="margin-right: 30px; background-color: white;" href="editarEnfermera/{{enfermera.cedula}}"><button type="button" class="btn">Editar</button></a></a>
                <button class="btn btn-danger" onclick="return eliminarEnfermera();" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor%}
    </tbody>
    <tfoot>
        <td style="border: none;">
            <a class="añadir" href="{% url 'añadirEnfermera' %}"><button type="button" class="btn-añadir btn-primary">Añadir Enfermera</button></a>
        </td>
    </tfoot>
</table>


<script type="text/javascript">
    function eliminarEnfermera() {
      var x = confirm("¿Estás seguro de que desea eliminar este registro?");
      if (x)
        return true;
      else
        return false;
    }
</script>
{% endblock %}