@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}


::-webkit-scrollbar-track{
    background: black;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background: white;
    border-radius: 5px;
}


/* Inicio nav */

.container-nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-image: linear-gradient(to right, rgb(0, 132, 255), rgb(127, 200, 255), rgb(0, 68, 255));
    padding: 20px 40px;
    border-bottom: 2px solid gray;
}

.title-page {
    color: white;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: white;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all 600ms ease-in-out;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a .is-active,
.menu a:hover {
    background-color: #302b63;
}

@media (min-width: 768px) {
    .hamburguer {
        display: none;
    }

    .menu {
        display: flex;
    }
}

/* Fin nav */

/* Inicio Footer */

.pie-pagina {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    

}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px 0;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure svg {
    width: 250px;
}

.pie-pagina .grupo-1 .box h3 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .box h2 {
    margin-left: 160px;
    color: white;
    margin-bottom: 20px;
}

.pie-pagina .grupo-1 .box .interes a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    margin-left: 120px;
    text-align: center;
    transition: all 400ms ease-in-out;
    font-size: 15px;
}

.pie-pagina .grupo-1 .box .interes a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small {
    font-size: 20px;
}

@media screen and(max-width: 800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }
}


/* Fin Footer */