:root {
    --primary: #55ad9d;
    --light: #29626a;
    --dark: #0f4456;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.table {
    width: 70%;
    position: relative;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: var(--dark);
    color: aliceblue;
}

.table tbody tr :nth-child(even) {
    background-color: var(--light);
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


@media(max-width: 500px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: center;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

}

.post {
    position: absolute;
    background-color: darkgray;
    top: 10px;
    bottom: 5px;
    right: 30px;
    width: 25%;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
}

.titulo{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.img{
    min-width: 70%;
    max-width: 100%;
    height: 300px;
    text-align: center;
    margin-bottom: 0;
}

.img img{
    width: 80%;
    height: 80%;
}

.Sala{
    margin-top: 0;
    text-align: center;
    font-weight: 400;
}

h2{
    text-align: center;
}

.info{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 15px;
}
