@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&display=swap');

* {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.table {
    width: 70%;
    position: relative;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: rgba(0, 132, 255, 0.371);
    /* color: aliceblue; */
}

.table tbody tr :nth-child(even) {
    background-color: rgb(127, 200, 255);
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.table-title{
    width: 350px;
    margin-left: 20%;
}

.btn{
    height: 35px;
    border-radius: 25px;
    font-size: 0.7rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, rgba(0, 132, 255, 0), rgba(3, 70, 121, 0.287), rgba(85, 128, 245, 0.353));
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    background-size: 200%;
    transition: .5s;
    padding: 0.5em;
}

.btn:hover {
    background-position: right;
}

.btn-medicamento{
    width: 100px;
    height: 35px;
    border-radius: 25px;
    font-size: 0.7rem;
    margin-left: 140%;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, rgb(0, 132, 255), rgb(127, 200, 255), rgb(0, 68, 255));
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    background-size: 200%;
    transition: .5s;
    padding: 0.5em;
}

.btn-medicamento:hover {
    background-position: right;
}

.btn-novedad{
    height: 35px;
    border-radius: 25px;
    font-size: 0.7rem;
    margin-left: 70%;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, rgb(0, 132, 255), rgb(127, 200, 255), rgb(0, 68, 255));
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    background-size: 200%;
    transition: .5s;
    padding: 1em;
}

.btn-novedad:hover {
    background-position: right;
}




@media(max-width: 500px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: center;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

}

.post {
    position: absolute;
    background-color: rgba(0, 132, 255, 0.358);
    top: 100px;
    bottom: 5px;
    right: 30px;
    width: 25%;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.196);
}

.titulo{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.img{
    min-width: 70%;
    max-width: 100%;
    height: 300px;
    text-align: center;
    margin-bottom: 0;
}

.img img{
    width: 80%;
    height: 80%;
}

.Sala{
    margin-top: 0;
    text-align: center;
    font-weight: 400;
}

h2{
    text-align: center;
    font-weight: 800;
}

.info{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px;
}

.text{
    margin-top: 10px;
    font-weight: 400;
}