{% extends 'MediPlannerApp/base.html'%}
{% load static %}

{% block cssLinks%}
<link rel="stylesheet" href="{% static 'MediPlannerApp/css/table.css'%}">
{% endblock %}

{% block title %}Medicinas | MediPlanner{% endblock %}

{% block content %}
<table class="table">
    {% if messages %}
    <ul class="messages list-group mb-3">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Invima</th>
            <th>Descripción</th>
            <th>Via de administración</th>
            <th>Opcion</th>
        </tr>
    </thead>
    <tbody>
        {% for medicina in object_list %}
        <tr>
            <td data-label="Nombre">{{medicina.nombre}}</td>
            <td data-label="Cantidad">{{medicina.cantidad}}</td>
            <td data-label="Invima">{{medicina.invima}}</td>
            <td data-label="Descripción">{{medicina.descripcion}}</td>
            <td data-label="Via_administracion">{{medicina.via_administracion}}</td>
            <td data-label="Opcion">
                <form method="POST" action="eliminarMedicina/{{medicina.id}}">
                    {% csrf_token %}
                <a style="margin-right: 30px;" href="editarMedicina/{{medicina.id}}"><button type="button" class="btn btn-primary">Editar</button></a></a>
                <button class="btn btn-danger" onclick="return eliminarMedicina();" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor%}
    </tbody> 
    <tfoot>
        <td style="border: none;">
            <a class="añadir" href="{% url 'añadirMedicina' %}"><button type="button" class="btn-añadir btn-primary">Añadir medicamento</button></a>
        </td>
    </tfoot>
</table>


<script type="text/javascript">
    function eliminarMedicina() {
      var x = confirm("¿Estás seguro de que desea eliminar este registro?");
      if (x)
        return true;
      else
        return false;
    }
</script>
{% endblock %}